<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Flights</title>
</head>
<body>
  <nav>
  <a href="/flights/new/">Add New Flight</a><br>
  <a href="/tickets/new">Add Ticket</a>
  </nav>
  <h1>Flight List</h1>
  
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No</th>
        <th>Departure Date</th>
      </tr>
    </thead>
    <tbody>
        <br><% flights.forEach(f => { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr> 
          <% }); %>
    </tbody>
  </table>
</body>
</html>